<div class="footer container">
    <div class="back-to-top">
        <a href="" alt="Back to top" title="Back to top">Back to top</a>
    </div>
    <div class="offsite-links">
        <a class="twitter-link" href="http://twitter.com/nulleric" alt="Twitter" title="Twitter">Twitter</a>
        &nbsp;&nbsp;&nbsp;
        <a class="github-link" href="https://github.com/erichelgeson" alt="GitHub" title="GitHub">GitHub</a>
        &nbsp;&nbsp;&nbsp;
        <a class="rss-link" href="http://feeds.feedburner.com/EricHelgesonBlog" alt="RSS Feed" title="RSS Feed">RSS</a>
    </div>
</div>
