<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eric Helgeson{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="A blog by Eric Helgeson" />
    <!-- <link rel="alternate" type="application/atom+xml" title="Eric Helgeson | blog" href="http://feeds.feedburner.com/?format=atom" /> -->
    <meta property="og:title" content="Eric Helgeson | blog" />
    <meta property="og:description" content="A blog by Eric Helgeson.">
    <meta property="og:type" content="article" />
    <!-- <meta property="og:image" content="http://" /> -->
    <meta property="article:author" content="http://erichelgeson.github.com/about/" />
    <link rel="author" href="https://plus.google.com/111899581344929569613" />
    <link rel="canonical" href="http://erichelgeson.github.com.com/" />
    <meta property="og:url" content="http://erichelgeson.github.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/syntax.css" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37860645-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
