<div id="nav" class="container nav-container">
    <div id="logo-primary" class="four columns">
        <ul>
            <li><a href="/" alt="Eric Helgeson | blog" title="Eric Helgeson | blog">Eric Helgeson | blog</a></li>
        </ul>
    </div>
    <div id="nav-primary" class="twelve columns">
        <ul>
            <li><a href="/" alt="Home" title="Home">Home</a></li>
            <li><a href="/blog" alt="Blog" title="Blog">Blog</a></li>
            <li><a href="/about" alt="About" title="About">About</a></li>
            <li><a href="/projects" alt="Projects" title="Projects">Projects</a></li>
        </ul>
    </div>
</div>
