<div class="block">

<!-- Social -->
<g:plusone size="medium"></g:plusone>

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-via="nulleric">Tweet</a>

<!-- Reddit -->
<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js?url=http://erichelgeson.github.com{{ page.url }}&newwindow=1"></script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
