<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          <p>--</p>
          <p>Want to contribute to this article? <a href="https://github.com/erichelgeson/erichelgeson.github.com/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | replace: " ", "-" | downcase }}.markdown">Edit this post on Github!</a></p>
        </section>
      </div>
      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% elsif page.disqus == 'n' %}
      {% else %}
        {% include disqus.html %}
      {% endif %}
      {% include links.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
